<?xml version="1.0" encoding="UTF-8"?>
<extension>
    <information>
        <name>Dashboard 4DCu.be</name>
        <version>0.1</version>
        <author>4DCu.be - Sebastian Proost</author>
        <id>dashboard</id>
    </information>
    <menus>
        <menu type="json" dynamic="true">menu.json</menu>
    </menus>
</extension>